/* #heading1{
    background-color: aqua;
    color: blue;
}
.heading2{
    background-color: blueviolet;
    color: rgb(236, 214, 65);
}
.box{
    height: 100px;
    width: 100px;
    margin: 5px;
    border: 2px solid rgb(175, 49, 70);
} */


.content{
    color: blueviolet;
}
.newClass{
    background-color: green
    ;
}