#game{
    height: 410px;
    border: 2px solid;
}

#game:hover .on{
     margin-left: 142 0px;
      border-radius: 50%;
      background-color: rgb(226, 43, 128);
      margin-bottom: 10px;
}
.on {
   height: 100px;
   width: 100px;
   border: 2px solid pink;
   border-radius: 50%;
   transition:3s; /* transition yaha hona chahiye */
}
#one{
    background-color: blueviolet;
    transition-timing-function: ease-in;

}
#two{
    background-color: rgb(255, 0, 0);
        transition-timing-function: ease-out;

}
#three{
    background-color: rgb(226, 43, 144);
}
#four{
    background-color: rgb(0, 255, 255);
}
