*{
    margin: 0;
    padding: 0;
}
#nav{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    height: 35px;
    align-items: center;
}
button{
    margin-top: 0;
    height: 24px;
    background-color: rgb(255, 209, 4);
    color: rgb(34, 33, 33);
    border-radius: 7px;
    font-size: 20px;
}