body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    height: 70px;
    width: 100%;
    background-color: #f3f5f8;
    border: 1px solid gainsboro;
    display: flex;
    align-items: flex-start;
    padding: 18px 15px;
    position: relative;
}
button {
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
p{
    padding: 0;
    margin-left: 10px;
}
#github {
    margin-left: 20px;
}
a{
 text-decoration: none;
    color: rgb(100, 95, 95);
    padding: 16px;
    font-size: 15px;
}
a:hover{
    color: black;
}

.tabs{
    position: absolute;
    margin-top: 60px; 
}
#repo {
    padding: 20px;
}
a #o{
   margin-right: 10px;   
}
a #re{
   margin-right: 8px;  
}
a #ph{
   margin-right: 10px;
}
#name{
    margin-left: 10px;
    margin-top: 9px;
}
.arrow{
    margin-left: 10px;;
}
.arro{
    margin-top: 2px;
    margin-left: 11px;
}
#search{
    width: 280px;
    margin-top:5px;
    margin-left: 700px;
    display: flex;
    gap:10px;
    font-size: 14px;
    background-color:  #f3f5f8;
    color: gray;
    border-color: rgb(224, 219, 219);
}
#dot{
    margin-top: 2.8px;
    margin-left: 10px; 
    width: 30px;
    height: 30px;
    background-color:  #f3f5f8;
    border-color:rgb(224, 219, 219) ;
}
#add{
    margin-top: 2.8px;
    margin-left: 20px; 
    width: 60px;
     height: 30px;
    background-color:  #f3f5f8;
    border-color:rgb(224, 219, 219) ;
}
#pilot{
    margin-top: 2.8px;
    margin-left: 7px;
    background-color:  #f3f5f8;
    border-color:rgb(224, 219, 219) ;
    width: 70px;
    height: 30px;
}
#sPic{
    border-radius: 50%;
    margin-left: 30px;
}

#profile {
      
    height: 650px;
    width: 300px;
    /* border: 2px solid rebeccapurple; */
    margin-left: 120px;
    margin-top: 30px;
    padding: 0%;
    
}
#pro{
    border: 2px solid rgb(194, 194, 194);
    border-radius: 50%;
    /* margin-left: 100px; */
}
#profile p{
 
    font-size: 22px;
margin:0px;
}

#profile #p1{
    margin-top: 10px;
}
#profile #p2{  
    padding-top: 0px;
    color: rgb(181, 183, 187);
    font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 10; /* Ultra light */
}
#profile #about{
    font-size: 17px;
    color: rgb(76, 74, 74);
}

#profile #edit{
    margin-left: 5px;
    font-size: 16px;
    background-color: #f7f3f3;
    height: 32px;
    width: 290px;
}

#profile #follow{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 15px;
    color: gray;
}
#profile .detail{
    font-size: 15px;
    color: gray;
    margin-left: 15px;    
}
#info {
    /* padding-top: 10px; */
    margin-top: 30px;
    margin-left: 430px;
    position: absolute;
    height: 250px;
    width: 900px;
    border-radius: 5px;
    border: 2px solid rgb(230, 230, 223);
}
#side{
    display: flex;
}
#info #name{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 13px;
    color: rgb(51, 51, 51);
}
#mail{
    padding: 0px;
   color: rgb(33, 100, 245);
}
#list{
    font-size: 15px;
    /* padding: 3px; */
    margin-bottom: 5px;
    color: rgb(59, 59, 59);
}
.repos{
  /* position: relative; */
    border: 2px solid rgb(195, 191, 191);
    border-radius: 4px;
    position: relative;
}

#box{
    display: flex;
}
#java h4{
    color:rgb(33, 100, 245);
    margin-left: 10px;
}
#java p{
    color: #797979;
    font-size: 14px;
}
#java{
    height: 100px;
    width: 440px;
    margin-left: 10px;
    margin-top: 300px;
    border: 2px solid rgb(215, 208, 208);
    border-radius: 4px;
}
#dsa{
    height: 100px;
    width: 440px;
    margin-left: 470px;
    margin-top: 300px;
    border: 2px solid rgb(215, 208, 208);
    border-radius: 4px;
    position: absolute;
}
#dsa h4{
    color: rgb(33, 100, 245);
    margin-left: 10px;
}
#dsa p{
    color: #797979;
    font-size: 14px;
}
#Html{
    position: absolute;
    margin: 0px;
    height: 97px;
    width: 440px;
    margin-left: 10px;
    margin-top: 420px;
    border: 2px solid rgb(215, 208, 208);
    border-radius: 4px;
}
#Html h4{
    color:rgb(33, 100, 245);
    margin-left: 10px;
}
#Html p{
    color: #797979;
    font-size: 14px;
}
#CSS{
    position: absolute;
    margin: 0px;
    height: 97px;
    width: 440px;
    margin-left: 10px;
    margin-top: 540px;
    border: 2px solid rgb(215, 208, 208);
    border-radius: 4px;
}
#CSS h4{
     color:rgb(33, 100, 245);
    margin-left: 10px;
}
#CSS p{
    color: #797979;
    font-size: 14px;
}
#MyReadme{
    position: absolute;
    margin: 0px;
    height: 97px;
    width: 440px;
    margin-left: 470px;
    margin-top: 420px;
    border: 2px solid rgb(215, 208, 208);
    border-radius: 4px;
}
#MyReadme h4{
    color: rgb(33, 100, 245);
    margin-left: 10px;
}
#MyReadme p{
    color: #797979;
    font-size: 12.5px;
}

#public{
    position: absolute;
    top: 15px;
    left: 380px;
    color: #545454;
    border-radius: 15px;
    width: 49px;
    height: 23px;
    /* padding: 0px; */
    
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 6px 8px;
  position: absolute;
  /* z-index: 1; */
  bottom: -40px; /* show above the button */
  /* left: 50%; */
  transform: translateX(-50%);
  opacity: 0;
  /* transition: opacity 0.3s ease; */
  font-size: 12px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.menu{
    background-color:  #f3f5f8 ;
}
#search {
      position: relative;
      width: 300px;
}
#search input {
      width: 100%;
      padding: 10px 12px 10px 35px; 
      border: 1px solid #d0d7de;
      border-radius: 6px;
      background-color: #f6f8fa;
      font-size: 15px;
      color: #737678;
}
#search img {
      position: absolute;
      left: 10px;
      margin-top: 12px;
      height: 16px;
      width: 16px;
      opacity: 0.6;
}
